[user]
	name = GeoPresov Admin
	email = jp@pi-geosolutions.fr
[core]
	editor = vim
[credential]
	helper = store
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
